# ─────────────────────────────────────────────────────────
# Ignore all __pycache__ directories (at any depth)
__pycache__/
backend/__pycache__/
backend/**/__pycache__/



# Ignore all compiled Python files
*.py[cod]
backend/*.py[cod]
backend/**/*.py[cod]
# ─────────────────────────────────────────────────────────

backend/input/*
backend/output/processed_logs/*
backend/output/*/*